<footer class="bg-nfl py-3 font-sans text-xs text-gray-500">
  <div class="w-11/12 md:w-9/12 xl:w-1/2 m-auto">
    <div class="list-icon-footer flex text-xl items-center mb-2">
      <a href="#" title="" rel="" class="mr-4 inline-block"
        ><i class="fab fa-facebook-square"></i
      ></a>
      <a href="#" title="" rel="" class="mr-4 inline-block"
        ><i class="fab fa-instagram"></i
      ></a>
      <a href="#" title="" rel="" class="mr-4 inline-block"
        ><i class="fab fa-twitter"></i
      ></a>
      <a href="#" title="" rel="" class="mr-4 inline-block"
        ><i class="fab fa-youtube"></i
      ></a>
    </div>
    <ul class="flex flex-wrap w-full mb-2">
      <li class="w-1/2 md:w-1/3 lg:w-1/4">
        <a
          class="hover:underline inline-block py-1.5 text-small-11"
          href="#"
          rel=""
          title=""
          >Âm thanh và phụ đề
        </a>
      </li>
      <li class="w-1/2 md:w-1/3 lg:w-1/4">
        <a
          class="hover:underline inline-block py-1.5 text-small-11"
          href="#"
          rel=""
          title=""
          >Mô tả âm thanh
        </a>
      </li>
      <li class="w-1/2 md:w-1/3 lg:w-1/4">
        <a
          class="hover:underline inline-block py-1.5 text-small-11"
          href="#"
          rel=""
          title=""
          >Trung tâm trợ giúp
        </a>
      </li>
      <li class="w-1/2 md:w-1/3 lg:w-1/4">
        <a
          class="hover:underline inline-block py-1.5 text-small-11"
          href="#"
          rel=""
          title=""
          >Thẻ quà tặng
        </a>
      </li>
      <li class="w-1/2 md:w-1/3 lg:w-1/4">
        <a
          class="hover:underline inline-block py-1.5 text-small-11"
          href="#"
          rel=""
          title=""
          >Trung tâm đa phương tiện
        </a>
      </li>
      <li class="w-1/2 md:w-1/3 lg:w-1/4">
        <a
          class="hover:underline inline-block py-1.5 text-small-11"
          href="#"
          rel=""
          title=""
          >Quan hệ với nhà đầu tư
        </a>
      </li>
      <li class="w-1/2 md:w-1/3 lg:w-1/4">
        <a
          class="hover:underline inline-block py-1.5 text-small-11"
          href="#"
          rel=""
          title=""
          >Việc làm
        </a>
      </li>
      <li class="w-1/2 md:w-1/3 lg:w-1/4">
        <a
          class="hover:underline inline-block py-1.5 text-small-11"
          href="#"
          rel=""
          title=""
          >Điều khoản sử dụng
        </a>
      </li>
      <li class="w-1/2 md:w-1/3 lg:w-1/4">
        <a
          class="hover:underline inline-block py-1.5 text-small-11"
          href="#"
          rel=""
          title=""
          >Quyền riêng tư
        </a>
      </li>
      <li class="w-1/2 md:w-1/3 lg:w-1/4">
        <a
          class="hover:underline inline-block py-1.5 text-small-11"
          href="#"
          rel=""
          title=""
          >Thông báo pháp lý
        </a>
      </li>
      <li class="w-1/2 md:w-1/3 lg:w-1/4">
        <a
          class="hover:underline inline-block py-1.5 text-small-11"
          href="#"
          rel=""
          title=""
          >Tùy chọn cookie
        </a>
      </li>
      <li class="w-1/2 md:w-1/3 lg:w-1/4">
        <a
          class="hover:underline inline-block py-1.5 text-small-11"
          href="#"
          rel=""
          title=""
          >Thông tin doanh nghiệp</a
        >
      </li>
      <li class="w-1/2 md:w-1/3 lg:w-1/4">
        <a
          class="hover:underline inline-block py-1.5 text-small-11"
          href="#"
          rel=""
          title=""
          >Liên hệ với chúng tôi</a
        >
      </li>
    </ul>
    <div
      class="service-code border border-gray-500 p-1 inline-block text-small-11 mb-3"
    >
      <span>Mã dịch vụ</span>
      <!-- <span>923-700</span> -->
    </div>
    <p class="text-small-11">
      © 1997-2021 Netflix, Inc.
      <!-- <span>'{'i-0682a2c65b263c350'}'</span>  -->
    </p>
  </div>
</footer>
