@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* You can add global styles to this file, and also import other style files */

.film-item {
  .item-position {
    left: 1px;
    right: 1px;
    height: inherit;
  }

  // &:hover {
  //   transform: scale3d(1.15);
  //   transform: scale3d(1.15, 1.15, 1.15);

  //   .film-info {
  //     height: auto;
  //     transform: scale3d(1);
  //     padding: 0.5rem 0.3rem;
  //   }

  //   .item-position {
  //     left: 0;
  //     right: 0;
  //     height: min-content;
  //   }
  // }
}

.netflix-film-group {
  // .list-film {
  //   overflow-x: auto;
  // }

  .film-info {
    .film-item {
      min-width: 50%;
    }

    transition: ease 0.2s all;

    &:hover {
      background: linear-gradient(to top, #000000, #00000073) !important;
      transition: ease 0.2s all;
    }

    .name-film {
      text-shadow: 2px 2px 2px #1d1c1c;
    }
  }
}

.background-banner {
  background: linear-gradient(to top, rgba(0, 0, 0, .8) 10%, rgba(0, 0, 0, 0));
}

// @media (min-width: 320px) and (max-width: 480px) {
//   .netflix-film-group {
//     .film-item {
//       min-width: 50%;
//     } 
//   }

//   .film-item {

//     &:hover {
//       transform: scale3d(1.1);
//       transform: scale3d(1.1, 1.1, 1.1);
//     }
//   }
// }





// ==========================

.peliculas-recomendadas {
  // margin-top: 70px;
}

.peliculas-recomendadas .contenedor-principal {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: -15px;
}



.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha {
  position: absolute;
  border: none;
  background: rgba(255, 255, 255, 0.3);
  font-size: 40px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  top: calc(60% - 25%);
  line-height: 40px;
  color: #000;
  cursor: pointer;
  z-index: 500;
  transition: .2s ease all;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
  background: rgba(255, 43, 43, 0.3);
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda {
  left: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha {
  right: 0;
}

/***************TRABAJANDO CARRUSEL*********/
.peliculas-recomendadas .contenedor-carrusel {
  width: 100%;
  padding: 36px 0;
  overflow: hidden;
  scroll-behavior: smooth;
}

.peliculas-recomendadas .contenedor-carrusel2 {
  margin-top: -35px;
}

.peliculas-recomendadas .contenedor-carrusel .carrusel {
  display: flex;
  flex-wrap: nowrap;
}

.peliculas-recomendadas .contenedor-carrusel .carrusel .pelicula {
  min-width: 16.6666667%;
  margin: 0 1px;
  transition: .2s ease all;
}

.peliculas-recomendadas .contenedor-carrusel .carrusel .pelicula {
  &:first-child {
    &.hover {
      transform-origin: left;
    }
  }

  &:last-child {
    &.hover {
      transform-origin: right;
    }
  }

  &.hover {
    transform: scale(1.15);
    transform-origin: center;
  }
}

.peliculas-recomendadas .contenedor-carrusel .carrusel .pelicula img {
  width: 100%;
  vertical-align: top;
}

.contenedor-pie-de-pagina {
  margin-bottom: 40px;
  margin-top: -35px;
  justify-content: center;
  font-size: 15px;
  display: flex;
}

.contenedor-pie-de-pagina a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  padding: 0 30px;
}

.contenedor-pie-de-pagina a:hover {
  color: rgba(240, 39, 39, 0.945);
}


/*****************RESPONSIVE*******************************/
@media screen and (max-width: 480px) {
  .peliculas-recomendadas .contenedor-carrusel .carrusel .pelicula {
    min-width: 50%;
  }

}

@media (min-width: 481px) and (max-width: 768px) {
  .peliculas-recomendadas .contenedor-carrusel .carrusel .pelicula {
    min-width: 33.3333333%;
  }
}