<ng-container #headerComponent></ng-container>

<section class="bg-nfl">
  <div class="container m-auto text-white max-w-full px-10">
    <div class="film-group netflix-film-group mb-8">
      <div class="film-group-title cursor-pointer mb-2">
        <span class="font-bold text-lg">Phim Netflix</span>
        <span class="ml-3 text-xs font-normal">Xem tất cả</span>
        <span class="ml-1 text-xs font-normal">
          <i class="fas fa-angle-right"></i>
        </span>
      </div>

      <div class="list-film w-full flex flex-nowrap -ml-1px -mr-1px pb-8">
        <div
          class="group film-item z-10 hover:z-20 transition duration-200 ease-linear w-1/2 md:w-4/12 xl:w-16.667 min-w-16.667 h-40 md:h-72 xl:h-96 pl-1px pr-1px hover:scale-125 relative"
        >
          <div
            class="inline-block z-10 group-hover:z-20 absolute item-position group-hover:left-0 group-hover:right-0 h-minContent transition duration-200 ease-linear h-full top-0 right-0 left-0 rounded-md group-hover:shadow-nfl-1 overflow-hidden"
          >
            <div class="img-film group-hover:scale-125">
              <img
                class="w-full"
                src="https://occ-0-395-58.1.nflxso.net/dnm/api/v6/ifCRgpXJMAE_puF509EDR7a7mqU/AAAABUHiTJM_lxphPDFbndGXsc1g-X3hrD4rP-V7yRtWZqESVbXBBYPNUNttp37RjtIWnsvXu0vBSa90y5vypnTxjts9yZeK6q5es5lzTOPbTUYIQEToV-vw0d4k7Iq3koqdODFS6yn0M76AZ1ejCayZ1x6DCiaVwa0mbyCUkKkJtJfRIJpR7afczPPyORjTvTjRRK6X9odu.webp?r=838"
                alt=""
              />
            </div>
            <div
              class="film-info group-hover:h-auto delay-200 px-2 group-hover:py-2 h-0 group-hover:scale-0 transition duration-200 ease-linear bg-nfl overflow-hidden absolute bottom-0 right-0 left-0"
              style="background: linear-gradient(to top, #000000, #00000036)"
            >
              <div
                class="name-film text-sm font-semibold capitalize mb-2 group-hover:scale-0"
              >
                <a
                  class="overflow-hidden whitespace-nowrap overflow-ellipsis block"
                  href="#"
                  title=""
                  rel=""
                  >Người thầy y đức</a
                >
              </div>

              <div class="categiry-film text-small-11 group-hover:scale-0">
                Thể loại: <span>Tình cảm</span>
              </div>
              <div class="text-small-12 font-semibold group-hover:scale-0">
                <a href="" title="" rel="" class="inline-block">Xem chi tiết</a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="group film-item z-10 hover:z-20 transition duration-200 ease-linear w-1/2 md:w-4/12 xl:w-16.667 min-w-16.667 h-40 md:h-72 xl:h-96 pl-1px pr-1px hover:scale-125 relative"
        >
          <div
            class="inline-block z-10 group-hover:z-20 absolute item-position group-hover:left-0 group-hover:right-0 h-minContent transition duration-200 ease-linear h-full top-0 right-0 left-0 rounded-md group-hover:shadow-nfl-1 overflow-hidden"
          >
            <div class="img-film group-hover:scale-125">
              <img
                class="w-full"
                src="https://occ-0-395-58.1.nflxso.net/dnm/api/v6/ifCRgpXJMAE_puF509EDR7a7mqU/AAAABUHiTJM_lxphPDFbndGXsc1g-X3hrD4rP-V7yRtWZqESVbXBBYPNUNttp37RjtIWnsvXu0vBSa90y5vypnTxjts9yZeK6q5es5lzTOPbTUYIQEToV-vw0d4k7Iq3koqdODFS6yn0M76AZ1ejCayZ1x6DCiaVwa0mbyCUkKkJtJfRIJpR7afczPPyORjTvTjRRK6X9odu.webp?r=838"
                alt=""
              />
            </div>
            <div
              class="film-info group-hover:h-auto delay-200 px-2 group-hover:py-2 h-0 group-hover:scale-0 transition duration-200 ease-linear bg-nfl overflow-hidden absolute bottom-0 right-0 left-0"
              style="background: linear-gradient(to top, #000000, #00000036)"
            >
              <div
                class="name-film text-sm font-semibold capitalize mb-2 group-hover:scale-0"
              >
                <a
                  class="overflow-hidden whitespace-nowrap overflow-ellipsis block"
                  href="#"
                  title=""
                  rel=""
                  >Người thầy y đức</a
                >
              </div>

              <div class="categiry-film text-small-11 group-hover:scale-0">
                Thể loại: <span>Tình cảm</span>
              </div>
              <div class="text-small-12 font-semibold group-hover:scale-0">
                <a href="" title="" rel="" class="inline-block">Xem chi tiết</a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="group film-item z-10 hover:z-20 transition duration-200 ease-linear w-1/2 md:w-4/12 xl:w-16.667 min-w-16.667 h-40 md:h-72 xl:h-96 pl-1px pr-1px hover:scale-125 relative"
        >
          <div
            class="inline-block z-10 group-hover:z-20 absolute item-position group-hover:left-0 group-hover:right-0 h-minContent transition duration-200 ease-linear h-full top-0 right-0 left-0 rounded-md group-hover:shadow-nfl-1 overflow-hidden"
          >
            <div class="img-film group-hover:scale-125">
              <img
                class="w-full"
                src="https://occ-0-395-58.1.nflxso.net/dnm/api/v6/ifCRgpXJMAE_puF509EDR7a7mqU/AAAABUHiTJM_lxphPDFbndGXsc1g-X3hrD4rP-V7yRtWZqESVbXBBYPNUNttp37RjtIWnsvXu0vBSa90y5vypnTxjts9yZeK6q5es5lzTOPbTUYIQEToV-vw0d4k7Iq3koqdODFS6yn0M76AZ1ejCayZ1x6DCiaVwa0mbyCUkKkJtJfRIJpR7afczPPyORjTvTjRRK6X9odu.webp?r=838"
                alt=""
              />
            </div>
            <div
              class="film-info group-hover:h-auto delay-200 px-2 group-hover:py-2 h-0 group-hover:scale-0 transition duration-200 ease-linear bg-nfl overflow-hidden absolute bottom-0 right-0 left-0"
              style="background: linear-gradient(to top, #000000, #00000036)"
            >
              <div
                class="name-film text-sm font-semibold capitalize mb-2 group-hover:scale-0"
              >
                <a
                  class="overflow-hidden whitespace-nowrap overflow-ellipsis block"
                  href="#"
                  title=""
                  rel=""
                  >Người thầy y đức</a
                >
              </div>

              <div class="categiry-film text-small-11 group-hover:scale-0">
                Thể loại: <span>Tình cảm</span>
              </div>
              <div class="text-small-12 font-semibold group-hover:scale-0">
                <a href="" title="" rel="" class="inline-block">Xem chi tiết</a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="group film-item z-10 hover:z-20 transition duration-200 ease-linear w-1/2 md:w-4/12 xl:w-16.667 min-w-16.667 h-40 md:h-72 xl:h-96 pl-1px pr-1px hover:scale-125 relative"
        >
          <div
            class="inline-block z-10 group-hover:z-20 absolute item-position group-hover:left-0 group-hover:right-0 h-minContent transition duration-200 ease-linear h-full top-0 right-0 left-0 rounded-md group-hover:shadow-nfl-1 overflow-hidden"
          >
            <div class="img-film group-hover:scale-125">
              <img
                class="w-full"
                src="https://occ-0-395-58.1.nflxso.net/dnm/api/v6/ifCRgpXJMAE_puF509EDR7a7mqU/AAAABUHiTJM_lxphPDFbndGXsc1g-X3hrD4rP-V7yRtWZqESVbXBBYPNUNttp37RjtIWnsvXu0vBSa90y5vypnTxjts9yZeK6q5es5lzTOPbTUYIQEToV-vw0d4k7Iq3koqdODFS6yn0M76AZ1ejCayZ1x6DCiaVwa0mbyCUkKkJtJfRIJpR7afczPPyORjTvTjRRK6X9odu.webp?r=838"
                alt=""
              />
            </div>
            <div
              class="film-info group-hover:h-auto delay-200 px-2 group-hover:py-2 h-0 group-hover:scale-0 transition duration-200 ease-linear bg-nfl overflow-hidden absolute bottom-0 right-0 left-0"
              style="background: linear-gradient(to top, #000000, #00000036)"
            >
              <div
                class="name-film text-sm font-semibold capitalize mb-2 group-hover:scale-0"
              >
                <a
                  class="overflow-hidden whitespace-nowrap overflow-ellipsis block"
                  href="#"
                  title=""
                  rel=""
                  >Người thầy y đức</a
                >
              </div>

              <div class="categiry-film text-small-11 group-hover:scale-0">
                Thể loại: <span>Tình cảm</span>
              </div>
              <div class="text-small-12 font-semibold group-hover:scale-0">
                <a href="" title="" rel="" class="inline-block">Xem chi tiết</a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="group film-item z-10 hover:z-20 transition duration-200 ease-linear w-1/2 md:w-4/12 xl:w-16.667 min-w-16.667 h-40 md:h-72 xl:h-96 pl-1px pr-1px hover:scale-125 relative"
        >
          <div
            class="inline-block z-10 group-hover:z-20 absolute item-position group-hover:left-0 group-hover:right-0 h-minContent transition duration-200 ease-linear h-full top-0 right-0 left-0 rounded-md group-hover:shadow-nfl-1 overflow-hidden"
          >
            <div class="img-film group-hover:scale-125">
              <img
                class="w-full"
                src="https://occ-0-395-58.1.nflxso.net/dnm/api/v6/ifCRgpXJMAE_puF509EDR7a7mqU/AAAABUHiTJM_lxphPDFbndGXsc1g-X3hrD4rP-V7yRtWZqESVbXBBYPNUNttp37RjtIWnsvXu0vBSa90y5vypnTxjts9yZeK6q5es5lzTOPbTUYIQEToV-vw0d4k7Iq3koqdODFS6yn0M76AZ1ejCayZ1x6DCiaVwa0mbyCUkKkJtJfRIJpR7afczPPyORjTvTjRRK6X9odu.webp?r=838"
                alt=""
              />
            </div>
            <div
              class="film-info group-hover:h-auto delay-200 px-2 group-hover:py-2 h-0 group-hover:scale-0 transition duration-200 ease-linear bg-nfl overflow-hidden absolute bottom-0 right-0 left-0"
              style="background: linear-gradient(to top, #000000, #00000036)"
            >
              <div
                class="name-film text-sm font-semibold capitalize mb-2 group-hover:scale-0"
              >
                <a
                  class="overflow-hidden whitespace-nowrap overflow-ellipsis block"
                  href="#"
                  title=""
                  rel=""
                  >Người thầy y đức</a
                >
              </div>

              <div class="categiry-film text-small-11 group-hover:scale-0">
                Thể loại: <span>Tình cảm</span>
              </div>
              <div class="text-small-12 font-semibold group-hover:scale-0">
                <a href="" title="" rel="" class="inline-block">Xem chi tiết</a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="group film-item z-10 hover:z-20 transition duration-200 ease-linear w-1/2 md:w-4/12 xl:w-16.667 min-w-16.667 h-40 md:h-72 xl:h-96 pl-1px pr-1px hover:scale-125 relative"
        >
          <div
            class="inline-block z-10 group-hover:z-20 absolute item-position group-hover:left-0 group-hover:right-0 h-minContent transition duration-200 ease-linear h-full top-0 right-0 left-0 rounded-md group-hover:shadow-nfl-1 overflow-hidden"
          >
            <div class="img-film group-hover:scale-125">
              <img
                class="w-full"
                src="https://occ-0-395-58.1.nflxso.net/dnm/api/v6/ifCRgpXJMAE_puF509EDR7a7mqU/AAAABUHiTJM_lxphPDFbndGXsc1g-X3hrD4rP-V7yRtWZqESVbXBBYPNUNttp37RjtIWnsvXu0vBSa90y5vypnTxjts9yZeK6q5es5lzTOPbTUYIQEToV-vw0d4k7Iq3koqdODFS6yn0M76AZ1ejCayZ1x6DCiaVwa0mbyCUkKkJtJfRIJpR7afczPPyORjTvTjRRK6X9odu.webp?r=838"
                alt=""
              />
            </div>
            <div
              class="film-info group-hover:h-auto delay-200 px-2 group-hover:py-2 h-0 group-hover:scale-0 transition duration-200 ease-linear bg-nfl overflow-hidden absolute bottom-0 right-0 left-0"
              style="background: linear-gradient(to top, #000000, #00000036)"
            >
              <div
                class="name-film text-sm font-semibold capitalize mb-2 group-hover:scale-0"
              >
                <a
                  class="overflow-hidden whitespace-nowrap overflow-ellipsis block"
                  href="#"
                  title=""
                  rel=""
                  >Người thầy y đức</a
                >
              </div>

              <div class="categiry-film text-small-11 group-hover:scale-0">
                Thể loại: <span>Tình cảm</span>
              </div>
              <div class="text-small-12 font-semibold group-hover:scale-0">
                <a href="" title="" rel="" class="inline-block">Xem chi tiết</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ============================================================ -->

    <div class="film-group mb-8">
      <div class="film-group-title cursor-pointer mb-2">
        <span class="font-bold text-lg">Phim chính kịch Hàn Quốc</span>
        <span class="ml-3 text-xs font-normal">Xem tất cả</span>
        <span class="ml-1 text-xs font-normal">
          <i class="fas fa-angle-right"></i>
        </span>
      </div>

      <div class="list-film w-full flex flex-wrap -ml-1px -mr-1px pb-8">
        <div
          class="group film-item w-1/2 z-10 hover:z-20 md:w-4/12 xl:w-16.667 min-w-16.667 transition duration-200 ease-linear h-24 md:h-40 xl:h-28 pl-1px pr-1px hover:scale-125 relative mb-4 md:mg-5 lg:mb-8"
        >
          <div
            class="inline-block z-10 group-hover:z-20 absolute item-position group-hover:left-0 group-hover:right-0 h-minContent transition duration-200 ease-linear h-full top-0 right-0 left-0 rounded-md group-hover:shadow-nfl-1 overflow-hidden"
          >
            <div class="img-film group-hover:scale-125">
              <img
                class="w-full"
                src="https://occ-0-395-58.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABTLRGfQACM3pZbMmdFsLYScnlRol-T1dGuS99XUlQ_rWLOfUTqN0yePh25hMS1thAZ7f7kUGnUWzsBSZHYlpgjzxovo.webp?r=002"
                alt=""
              />
            </div>
            <div
              class="film-info group-hover:h-auto delay-200 px-2 group-hover:py-2 h-0 group-hover:scale-0 transition duration-200 ease-linear bg-nfl overflow-hidden"
            >
              <div
                class="name-film text-sm font-semibold capitalize group-hover:scale-0 overflow-hidden whitespace-nowrap overflow-ellipsis"
              >
                <a href="#" title="" rel="">Người thầy y đức</a>
              </div>
              <div
                class="text-small-11 my-1 group-hover:scale-0 short-note overflow-hidden overflow-ellipsis line-clamp-3"
              >
                Một bác sĩ phẫu thuật tài năng, kì quái với ba bằng chuyên môn
                từ bỏ công việc hàng đầu tại Seoul và đến một bệnh viện tỉnh để
                đào tạo các bác sĩ trẻ.
              </div>
              <div class="categiry-film text-small-11 group-hover:scale-0">
                Thể loại: <span>Tình cảm</span>
              </div>
              <div class="text-small-12 font-semibold group-hover:scale-0">
                <a href="" title="" rel="" class="inline-block">Xem chi tiết</a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="group film-item w-1/2 z-10 hover:z-20 md:w-4/12 xl:w-16.667 min-w-16.667 transition duration-200 ease-linear h-24 md:h-40 xl:h-28 pl-1px pr-1px hover:scale-125 relative mb-4 md:mg-5 lg:mb-8"
        >
          <div
            class="inline-block z-10 group-hover:z-20 absolute item-position group-hover:left-0 group-hover:right-0 h-minContent transition duration-200 ease-linear h-full top-0 right-0 left-0 rounded-md group-hover:shadow-nfl-1 overflow-hidden"
          >
            <div class="img-film group-hover:scale-125">
              <img
                class="w-full"
                src="https://occ-0-395-58.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABTLRGfQACM3pZbMmdFsLYScnlRol-T1dGuS99XUlQ_rWLOfUTqN0yePh25hMS1thAZ7f7kUGnUWzsBSZHYlpgjzxovo.webp?r=002"
                alt=""
              />
            </div>
            <div
              class="film-info group-hover:h-auto delay-200 px-2 group-hover:py-2 h-0 group-hover:scale-0 transition duration-200 ease-linear bg-nfl overflow-hidden"
            >
              <div
                class="name-film text-sm font-semibold capitalize group-hover:scale-0 overflow-hidden whitespace-nowrap overflow-ellipsis"
              >
                <a href="#" title="" rel="">Người thầy y đức</a>
              </div>
              <div
                class="text-small-11 my-1 group-hover:scale-0 short-note overflow-hidden overflow-ellipsis line-clamp-3"
              >
                Một bác sĩ phẫu thuật tài năng, kì quái với ba bằng chuyên môn
                từ bỏ công việc hàng đầu tại Seoul và đến một bệnh viện tỉnh để
                đào tạo các bác sĩ trẻ.
              </div>
              <div class="categiry-film text-small-11 group-hover:scale-0">
                Thể loại: <span>Tình cảm</span>
              </div>
              <div class="text-small-12 font-semibold group-hover:scale-0">
                <a href="" title="" rel="" class="inline-block">Xem chi tiết</a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="group film-item w-1/2 z-10 hover:z-20 md:w-4/12 xl:w-16.667 min-w-16.667 transition duration-200 ease-linear h-24 md:h-40 xl:h-28 pl-1px pr-1px hover:scale-125 relative mb-4 md:mg-5 lg:mb-8"
        >
          <div
            class="inline-block z-10 group-hover:z-20 absolute item-position group-hover:left-0 group-hover:right-0 h-minContent transition duration-200 ease-linear h-full top-0 right-0 left-0 rounded-md group-hover:shadow-nfl-1 overflow-hidden"
          >
            <div class="img-film group-hover:scale-125">
              <img
                class="w-full"
                src="https://occ-0-395-58.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABTLRGfQACM3pZbMmdFsLYScnlRol-T1dGuS99XUlQ_rWLOfUTqN0yePh25hMS1thAZ7f7kUGnUWzsBSZHYlpgjzxovo.webp?r=002"
                alt=""
              />
            </div>
            <div
              class="film-info group-hover:h-auto delay-200 px-2 group-hover:py-2 h-0 group-hover:scale-0 transition duration-200 ease-linear bg-nfl overflow-hidden"
            >
              <div
                class="name-film text-sm font-semibold capitalize group-hover:scale-0 overflow-hidden whitespace-nowrap overflow-ellipsis"
              >
                <a href="#" title="" rel="">Người thầy y đức</a>
              </div>
              <div
                class="text-small-11 my-1 group-hover:scale-0 short-note overflow-hidden overflow-ellipsis line-clamp-3"
              >
                Một bác sĩ phẫu thuật tài năng, kì quái với ba bằng chuyên môn
                từ bỏ công việc hàng đầu tại Seoul và đến một bệnh viện tỉnh để
                đào tạo các bác sĩ trẻ.
              </div>
              <div class="categiry-film text-small-11 group-hover:scale-0">
                Thể loại: <span>Tình cảm</span>
              </div>
              <div class="text-small-12 font-semibold group-hover:scale-0">
                <a href="" title="" rel="" class="inline-block">Xem chi tiết</a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="group film-item w-1/2 z-10 hover:z-20 md:w-4/12 xl:w-16.667 min-w-16.667 transition duration-200 ease-linear h-24 md:h-40 xl:h-28 pl-1px pr-1px hover:scale-125 relative mb-4 md:mg-5 lg:mb-8"
        >
          <div
            class="inline-block z-10 group-hover:z-20 absolute item-position group-hover:left-0 group-hover:right-0 h-minContent transition duration-200 ease-linear h-full top-0 right-0 left-0 rounded-md group-hover:shadow-nfl-1 overflow-hidden"
          >
            <div class="img-film group-hover:scale-125">
              <img
                class="w-full"
                src="https://occ-0-395-58.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABTLRGfQACM3pZbMmdFsLYScnlRol-T1dGuS99XUlQ_rWLOfUTqN0yePh25hMS1thAZ7f7kUGnUWzsBSZHYlpgjzxovo.webp?r=002"
                alt=""
              />
            </div>
            <div
              class="film-info group-hover:h-auto delay-200 px-2 group-hover:py-2 h-0 group-hover:scale-0 transition duration-200 ease-linear bg-nfl overflow-hidden"
            >
              <div
                class="name-film text-sm font-semibold capitalize group-hover:scale-0 overflow-hidden whitespace-nowrap overflow-ellipsis"
              >
                <a href="#" title="" rel="">Người thầy y đức</a>
              </div>
              <div
                class="text-small-11 my-1 group-hover:scale-0 short-note overflow-hidden overflow-ellipsis line-clamp-3"
              >
                Một bác sĩ phẫu thuật tài năng, kì quái với ba bằng chuyên môn
                từ bỏ công việc hàng đầu tại Seoul và đến một bệnh viện tỉnh để
                đào tạo các bác sĩ trẻ.
              </div>
              <div class="categiry-film text-small-11 group-hover:scale-0">
                Thể loại: <span>Tình cảm</span>
              </div>
              <div class="text-small-12 font-semibold group-hover:scale-0">
                <a href="" title="" rel="" class="inline-block">Xem chi tiết</a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="group film-item w-1/2 z-10 hover:z-20 md:w-4/12 xl:w-16.667 min-w-16.667 transition duration-200 ease-linear h-24 md:h-40 xl:h-28 pl-1px pr-1px hover:scale-125 relative mb-4 md:mg-5 lg:mb-8"
        >
          <div
            class="inline-block z-10 group-hover:z-20 absolute item-position group-hover:left-0 group-hover:right-0 h-minContent transition duration-200 ease-linear h-full top-0 right-0 left-0 rounded-md group-hover:shadow-nfl-1 overflow-hidden"
          >
            <div class="img-film group-hover:scale-125">
              <img
                class="w-full"
                src="https://occ-0-395-58.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABTLRGfQACM3pZbMmdFsLYScnlRol-T1dGuS99XUlQ_rWLOfUTqN0yePh25hMS1thAZ7f7kUGnUWzsBSZHYlpgjzxovo.webp?r=002"
                alt=""
              />
            </div>
            <div
              class="film-info group-hover:h-auto delay-200 px-2 group-hover:py-2 h-0 group-hover:scale-0 transition duration-200 ease-linear bg-nfl overflow-hidden"
            >
              <div
                class="name-film text-sm font-semibold capitalize group-hover:scale-0 overflow-hidden whitespace-nowrap overflow-ellipsis"
              >
                <a href="#" title="" rel="">Người thầy y đức</a>
              </div>
              <div
                class="text-small-11 my-1 group-hover:scale-0 short-note overflow-hidden overflow-ellipsis line-clamp-3"
              >
                Một bác sĩ phẫu thuật tài năng, kì quái với ba bằng chuyên môn
                từ bỏ công việc hàng đầu tại Seoul và đến một bệnh viện tỉnh để
                đào tạo các bác sĩ trẻ.
              </div>
              <div class="categiry-film text-small-11 group-hover:scale-0">
                Thể loại: <span>Tình cảm</span>
              </div>
              <div class="text-small-12 font-semibold group-hover:scale-0">
                <a href="" title="" rel="" class="inline-block">Xem chi tiết</a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="group film-item w-1/2 z-10 hover:z-20 md:w-4/12 xl:w-16.667 min-w-16.667 transition duration-200 ease-linear h-24 md:h-40 xl:h-28 pl-1px pr-1px hover:scale-125 relative mb-4 md:mg-5 lg:mb-8"
        >
          <div
            class="inline-block z-10 group-hover:z-20 absolute item-position group-hover:left-0 group-hover:right-0 h-minContent transition duration-200 ease-linear h-full top-0 right-0 left-0 rounded-md group-hover:shadow-nfl-1 overflow-hidden"
          >
            <div class="img-film group-hover:scale-125">
              <img
                class="w-full"
                src="https://occ-0-395-58.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABTLRGfQACM3pZbMmdFsLYScnlRol-T1dGuS99XUlQ_rWLOfUTqN0yePh25hMS1thAZ7f7kUGnUWzsBSZHYlpgjzxovo.webp?r=002"
                alt=""
              />
            </div>
            <div
              class="film-info group-hover:h-auto delay-200 px-2 group-hover:py-2 h-0 group-hover:scale-0 transition duration-200 ease-linear bg-nfl overflow-hidden"
            >
              <div
                class="name-film text-sm font-semibold capitalize group-hover:scale-0 overflow-hidden whitespace-nowrap overflow-ellipsis"
              >
                <a href="#" title="" rel="">Người thầy y đức</a>
              </div>
              <div
                class="text-small-11 my-1 group-hover:scale-0 short-note overflow-hidden overflow-ellipsis line-clamp-3"
              >
                Một bác sĩ phẫu thuật tài năng, kì quái với ba bằng chuyên môn
                từ bỏ công việc hàng đầu tại Seoul và đến một bệnh viện tỉnh để
                đào tạo các bác sĩ trẻ.
              </div>
              <div class="categiry-film text-small-11 group-hover:scale-0">
                Thể loại: <span>Tình cảm</span>
              </div>
              <div class="text-small-12 font-semibold group-hover:scale-0">
                <a href="" title="" rel="" class="inline-block">Xem chi tiết</a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="group film-item w-1/2 z-10 hover:z-20 md:w-4/12 xl:w-16.667 min-w-16.667 transition duration-200 ease-linear h-24 md:h-40 xl:h-28 pl-1px pr-1px hover:scale-125 relative mb-4 md:mg-5 lg:mb-8"
        >
          <div
            class="inline-block z-10 group-hover:z-20 absolute item-position group-hover:left-0 group-hover:right-0 h-minContent transition duration-200 ease-linear h-full top-0 right-0 left-0 rounded-md group-hover:shadow-nfl-1 overflow-hidden"
          >
            <div class="img-film group-hover:scale-125">
              <img
                class="w-full"
                src="https://occ-0-395-58.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABTLRGfQACM3pZbMmdFsLYScnlRol-T1dGuS99XUlQ_rWLOfUTqN0yePh25hMS1thAZ7f7kUGnUWzsBSZHYlpgjzxovo.webp?r=002"
                alt=""
              />
            </div>
            <div
              class="film-info group-hover:h-auto delay-200 px-2 group-hover:py-2 h-0 group-hover:scale-0 transition duration-200 ease-linear bg-nfl overflow-hidden"
            >
              <div
                class="name-film text-sm font-semibold capitalize group-hover:scale-0 overflow-hidden whitespace-nowrap overflow-ellipsis"
              >
                <a href="#" title="" rel="">Người thầy y đức</a>
              </div>
              <div
                class="text-small-11 my-1 group-hover:scale-0 short-note overflow-hidden overflow-ellipsis line-clamp-3"
              >
                Một bác sĩ phẫu thuật tài năng, kì quái với ba bằng chuyên môn
                từ bỏ công việc hàng đầu tại Seoul và đến một bệnh viện tỉnh để
                đào tạo các bác sĩ trẻ.
              </div>
              <div class="categiry-film text-small-11 group-hover:scale-0">
                Thể loại: <span>Tình cảm</span>
              </div>
              <div class="text-small-12 font-semibold group-hover:scale-0">
                <a href="" title="" rel="" class="inline-block">Xem chi tiết</a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="group film-item w-1/2 z-10 hover:z-20 md:w-4/12 xl:w-16.667 min-w-16.667 transition duration-200 ease-linear h-24 md:h-40 xl:h-28 pl-1px pr-1px hover:scale-125 relative mb-4 md:mg-5 lg:mb-8"
        >
          <div
            class="inline-block z-10 group-hover:z-20 absolute item-position group-hover:left-0 group-hover:right-0 h-minContent transition duration-200 ease-linear h-full top-0 right-0 left-0 rounded-md group-hover:shadow-nfl-1 overflow-hidden"
          >
            <div class="img-film group-hover:scale-125">
              <img
                class="w-full"
                src="https://occ-0-395-58.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABTLRGfQACM3pZbMmdFsLYScnlRol-T1dGuS99XUlQ_rWLOfUTqN0yePh25hMS1thAZ7f7kUGnUWzsBSZHYlpgjzxovo.webp?r=002"
                alt=""
              />
            </div>
            <div
              class="film-info group-hover:h-auto delay-200 px-2 group-hover:py-2 h-0 group-hover:scale-0 transition duration-200 ease-linear bg-nfl overflow-hidden"
            >
              <div
                class="name-film text-sm font-semibold capitalize group-hover:scale-0 overflow-hidden whitespace-nowrap overflow-ellipsis"
              >
                <a href="#" title="" rel="">Người thầy y đức</a>
              </div>
              <div
                class="text-small-11 my-1 group-hover:scale-0 short-note overflow-hidden overflow-ellipsis line-clamp-3"
              >
                Một bác sĩ phẫu thuật tài năng, kì quái với ba bằng chuyên môn
                từ bỏ công việc hàng đầu tại Seoul và đến một bệnh viện tỉnh để
                đào tạo các bác sĩ trẻ.
              </div>
              <div class="categiry-film text-small-11 group-hover:scale-0">
                Thể loại: <span>Tình cảm</span>
              </div>
              <div class="text-small-12 font-semibold group-hover:scale-0">
                <a href="" title="" rel="" class="inline-block">Xem chi tiết</a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="group film-item w-1/2 z-10 hover:z-20 md:w-4/12 xl:w-16.667 min-w-16.667 transition duration-200 ease-linear h-24 md:h-40 xl:h-28 pl-1px pr-1px hover:scale-125 relative mb-4 md:mg-5 lg:mb-8"
        >
          <div
            class="inline-block z-10 group-hover:z-20 absolute item-position group-hover:left-0 group-hover:right-0 h-minContent transition duration-200 ease-linear h-full top-0 right-0 left-0 rounded-md group-hover:shadow-nfl-1 overflow-hidden"
          >
            <div class="img-film group-hover:scale-125">
              <img
                class="w-full"
                src="https://occ-0-395-58.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABTLRGfQACM3pZbMmdFsLYScnlRol-T1dGuS99XUlQ_rWLOfUTqN0yePh25hMS1thAZ7f7kUGnUWzsBSZHYlpgjzxovo.webp?r=002"
                alt=""
              />
            </div>
            <div
              class="film-info group-hover:h-auto delay-200 px-2 group-hover:py-2 h-0 group-hover:scale-0 transition duration-200 ease-linear bg-nfl overflow-hidden"
            >
              <div
                class="name-film text-sm font-semibold capitalize group-hover:scale-0 overflow-hidden whitespace-nowrap overflow-ellipsis"
              >
                <a href="#" title="" rel="">Người thầy y đức</a>
              </div>
              <div
                class="text-small-11 my-1 group-hover:scale-0 short-note overflow-hidden overflow-ellipsis line-clamp-3"
              >
                Một bác sĩ phẫu thuật tài năng, kì quái với ba bằng chuyên môn
                từ bỏ công việc hàng đầu tại Seoul và đến một bệnh viện tỉnh để
                đào tạo các bác sĩ trẻ.
              </div>
              <div class="categiry-film text-small-11 group-hover:scale-0">
                Thể loại: <span>Tình cảm</span>
              </div>
              <div class="text-small-12 font-semibold group-hover:scale-0">
                <a href="" title="" rel="" class="inline-block">Xem chi tiết</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<ng-container #footerComponent></ng-container>